@import "components/sidebar";
@import "components/topbar";
@import "sections/links";
@import "sections/main";
@import "sections/links";

* {
    box-sizing: border-box;
}

body {
	font-family: $brand-font;
	color: $brand-color;
	background: $primary-background;
	
}

h1 {
	text-transform: uppercase;
	font-size: $paragraph-font-size;
	font-weight: 500;
}

h2 {
	font-size: $paragraph-font-size;
	font-weight: 500;
}

.btn {
	background: #F58220;
	border-radius: 5px;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	&:hover {
		background: #f7670e;
		transition: .3s;
	}
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	tr {
		border-top: 1px $border-color solid;
		position: relative;
		&:last-child {
			border-bottom: 1px $border-color solid;
		}
		&:hover {
			background: rgba(177, 191, 191, 0.18);
			i {
				display: block;
				transition: .3s;
				&:hover {
					cursor: pointer;
				}
			}
		}
		td{
			padding: 20px;
			position: relative;
			a {
				color: $active-color;
				text-decoration: none;
			}
			i {
				display: none;
			}
			.icon-trash {
				position: absolute;
				top: 22px;
				right: 20px;
			}
			.icon-links {
				position: absolute;
				top: 22px;
				right: 60px;
				color: #F58220;
			}
		}
	}
}