/* Colors */
$paragraph-color: #A6A6A6;
$brand-color: #999999;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Arial', Helvetica, Arial, sans-serif;
$paragraph-font: 'Open Sans', Helvetica, Arial, sans-serif;