/* sidebar */
.sidebar {
	background: #191919;
	width: 188px;
	height: 100vh;
	position: fixed;
	z-index: 9;
	.sidebar_head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			padding: 20px 18px;
		}
		.hamburger_menu_icon {
			display: none;
		}
	}
	.sidebar_menu_list {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			display: flex;
			align-items: center;
			width: 188px;
			height: 32px;
			padding-left: 18px;
			&:hover {
				position: relative;
			}
			&:hover::after {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 4px;
				height: 32px;
				background: #F58220;
			}
			.general{
				width: 16px;
				height: 15px;
			}
			a {
				font-size: 14px;
				color: $brand-color;
				text-decoration: none;
				padding: 8px 46px 8px 0px;
			}
			:before {
				padding-right: 20px;
			}
			&:hover {
				background: #707070;
				transition: .3s;
				a {
					color: #fff
				}
			}
		}
	}
	.sidebar_profile {
		margin: 40px 0 0;
		border-top: 1px #707070 solid;
		padding: 20px 0 20px 18px;
		.sidebar_profile_header {
			padding-bottom: 20px;
			span {
				font-size: 14px;
				text-transform: uppercase;
			}
		}
		.sidebar_profile_content {
			display: flex;
			align-items: center;
			img {
				border-radius: 50%;
				padding-right: 10px;
			}
			span {
				color: $active-color;
				font-size: 14px;
				cursor: pointer;
			}
		}
	}
	.sidebar_topbar {
		border-top: 1px #707070 solid;
		display: none;
		ul {
			padding: 0;
			li {
				list-style: none;
				a {
					color: $brand-color;
					text-decoration: none;
					display: flex;
					justify-content: flex-start;
					padding: 5px 10px;
					i {
						padding: 0 10px; 
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.sidebar {
		margin-left:-145px;
		transition: .3s;
		.sidebar_head {
			.hamburger_menu_icon {
			display: block;
			width: 17px;
    		height: 30px;
    		margin-right: 13px;
    		&:hover {
    			cursor: pointer;
    		}
			span {
				width: 17px;
		  		height: 2px;
		  		background-color: #999;
		  		margin: 6px 0;
		  		display: block;
			}
		}
		}
		.sidebar_menu, .sidebar_profile, .sidebar_topbar {
			display: none;
		}
	}
	.show {
		margin-left: 0px;
		transition: .3s;
		.sidebar_menu, .sidebar_profile, .sidebar_topbar {
			display: block;
		}
	}
}